/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Luto', sans-serif;
    padding: 20px;
    line-height: 1.7;
}
.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom,#7ed56fb5, #28b485b5),url('../img/hero.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); /*use 'clippy css' to set it*/
    position: relative;
}
.logo-box{
    position: absolute;
    top: 40px;
    left: 40px;
}
.logo-box img{
    height: 40px;
}
.text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header-primary{
    color: white;
    text-transform: uppercase;
    backface-visibility: hidden;
}
.header-primary span:first-child{
    display: block;
    font-size: 3.5rem;
    letter-spacing: 2.2rem;
    font-weight: 400;
    animation: moveToRight 1s ease-out;
}
.header-primary span:last-child{
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1.1rem;
    animation: moveToLeft 1s ease-out;
}

@keyframes moveToRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }

    80%{
        transform: translateX(20px);
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveToLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }

    80%{
        transform: translateX(-20px);
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}